numpy==1.23.4
matplotlib
torch       
torchvision # transforming image to tensor
pillow      # image loading
tqdm        # progress bars
wget # downloading the test data
wandb       # training process logging
ipykernel   # jupyter notebook
scikit-learn
scikit-image # standard PSNR and SSIM
hydra-core  # configuration management
pyyaml      # configuration management
pandas    # data analysis
seaborn  # data visualization

pytorch-ignite # faster PSNR and SSIM but results different from scikit-image
# https://pytorch.org/ignite/generated/ignite.metrics.PSNR.html
# https://pytorch.org/ignite/generated/ignite.metrics.SSIM.html
# https://pytorch-ignite.ai/tutorials/beginner/01-getting-started/

pytorch-msssim # faster SSIM with the same results as scikit-image

-e .  # local package installation