numpy==1.23.4
matplotlib
torch       
pillow      # for image loading
tqdm        # for progress bars
wget # for downloading the test data
wandb       # for training process logging
ipykernel   # for jupyter notebook
scikit-learn
scikit-image    # for SSIM metric
hydra-core  # for configuration management