numpy==1.23.4
matplotlib
torch       
torchvision # for transforming image to tensor
pillow      # for image loading
tqdm        # for progress bars
wget # for downloading the test data
wandb       # for training process logging
ipykernel   # for jupyter notebook
scikit-learn
scikit-image    # for SSIM metric
hydra-core  # for configuration management
pyyaml      # for configuration management
pandas
seaborn

pytorch-ignite # for faster PSNR and SSIM? 
# https://pytorch.org/ignite/generated/ignite.metrics.PSNR.html
# https://pytorch.org/ignite/generated/ignite.metrics.SSIM.html
# https://pytorch-ignite.ai/tutorials/beginner/01-getting-started/

pygmentize # for latex